
/* Shift page content down from under fixed navbar */
@media(max-width:767px){
	body {
		padding-top: 75px;
	}
}
@media(min-width:768px){
	body { 
		padding-top: 35px; 
	} 
}


/* Font for Brand */
.navbar-brand {
	font-family: consolas, courier new, monospace;
}

/* Turn off underline for anchors on hover/focus */
a:hover, a:focus {
	text-decoration: none;
}

li .dropdown-header > a {
	display: inline;
}